.breadcrumb {
  list-style: none;
  display: flex;
  font-size: 9px;
  margin: 0;
  padding: 20px 0;

  &Item {
    margin-right: 4px;
  }
  &Page {
    cursor: pointer;
    color: #888;
    &:hover {
      color: black;
    }
  }
}
